#Python
__pycache__
*.pyc
.env

#Node
node_modules
dist

#Docker
*.env
docker-compose.override.yml


#IDE
.vscode
.idea

#Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log

#DB
backend/todo.db
To-Do-app/backend/todo.db
#
